main {
  background-color: #E6D5B8;
}

/* BANNER */

.banner-section {
  background-image: url('../imagens/imagem-coleção-folhas.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-text h1 {
  font-family: 'Zen Loop', cursive;
  font-size: 220px;
  text-shadow: 7px 2px rgba(0, 0, 0, 0.5);
  color: #E6D5B8;
  margin: 0 auto;
}

.banner-text h2 {
  font-size: 50px;
  color: #E6D5B8;
  text-shadow: 7px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
}


.banner-text h3 {
  font-size: 15px;
  color: #E6D5B8;
  margin: 0;
}

.banner-text button {
  font-weight: bold;
  padding: 20px 30px;
  font-size: 22px;
  margin-left: 12px;
  background-color: #DE834D;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner-text button:hover {
  background-color: #E6D5B8;
}

/* Fenearte */

.fenearte {
  display: flex;
  background-color: #781d42;
  color: #E6D5B8;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* ABOUT */

.about-section {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1B1A17;
}

.about-section h1 {
  margin: 0;
  font-size: 44px;
  color: #E6D5B8;
}

iframe {
  border-radius: 15px;
  border: 0;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 40px auto;
}

.about-container div {
  margin-right: 50px;
}

.about-container div h2 {
  font-size: 32px;
  color: #DE834D;
}

.about-container div p {
  color: #E6D5B8;
}

/* Contact */

.contact-section {
  background-color: #E6D5B8;
  height: 700px;
  display: flex;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-container h1 {
  font-size: 44px;
  font-weight: bold;
  margin: 0 auto;
}

.contact-container p {
  font-size: 22px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  background-color: #E6D5B8;
  border: 2px solid #1B1A17;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold;
  color: #1B1A17;
  padding-left: 5px;
}

input::placeholder {
  font-size: 16px;
  font-weight: bold;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  background-color: #E6D5B8;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border: 2px solid #1B1A17;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #1B1A17;
  padding-left: 5px;
}

textarea::placeholder {
  font-size: 16px;
  font-weight: bold;
}

form button {
  background-color: #DE834D;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  padding: 10px 85px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

form button:hover {
  background-color: #781d42;
  color: #E6D5B8;
}